body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

.h1-part {
    color: orange;
}

.exp-h1 {
    color: orange;
}

.flexible-content {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 3%;
}

p {
    text-align: justify;
}

.sec-width img {
    width: 50%;
}

.hire-btn {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10;
    background-image: linear-gradient(orange, tomato);
    color: aliceblue;

}

.banr {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.secnd-banr {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.box-text {
    width: 40%;
    padding: 30px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px rgb(46, 46, 48);
    border-radius: 4px;

}

#baby-box {
    border-left: 20px solid darkorange;
}

#developer-box {
    border-left: 20px solid tomato;
}

footer p {
    color: blueviolet;
    text-align: center;
    margin-top: 100px;
}